.Footer{
  justify-content: center;
  height: 5em;
  width: 100%;
  left:0;
  bottom:0;
  right:0;
  display: flex;
  align-items: center;
  background-color: #3BACB6;
  color: #FFFF;
  /* position: absolute; */
}